.App {
  text-align: center;
}

.App .Grid {
  display: flex;
  justify-content: space-evenly;
  margin-left: -10px;
}

.App .itemGrid {
  align-items: center;
  background-color: aquamarine;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  margin-top: 10px;
  padding: 24px;
}

/* BalanceWrapper */
.balanceWrapper {
  padding-top: 20px;
}

.divBalanceTran {
  display: flex;
  flex-direction: column;
}

.balanceWrapper .balanceInput {
  margin-bottom: 15px;
}

/* BudgetWrapper */
.App .itemGrid.budgetForm {
  align-items: flex-start;
  height: fit-content;
}

.App .itemGrid .inputSource {
  margin-bottom: 8px;
}

.App .itemGrid .datePicker {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  min-width: 100%;
}
